# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# uploads generated locally
uploads/

# database migration utility
migrate_local_to_neon.js
